.container{
    width: 400px;
    text-align: center;
    margin: 10% auto 0 auto;
    position: relative;
}
h1{                    
    font-weight: bold;
    font-size: 150px;          
    color: #343434;
    margin: 0;
}
p.next{
    color: #ddd;
}